@media screen and (min-width: 751px) {
  .sp {
    display: none !important;
  }

  [href^=tel] {
    pointer-events: none;
  }

  .menu-logo {
    margin-bottom: 108px;
  }

  .header-menu {
    background: url("../images/bg-menu.png") bottom no-repeat #fff local;
  }

  .menu-list {
    width: 840px;
    justify-content: space-between;
  }
  .menu-list .dropdown:nth-child(2) {
    transform: translateX(23px);
  }

  .dropdown {
    display: flex;
  }
  .dropdown > span {
    pointer-events: none;
    writing-mode: vertical-rl;
  }

  .sub-menu {
    margin-top: 16px;
    margin-left: 20px;
    width: max-content;
  }
  .sub-menu a:hover,
.sub-menu span:hover {
    color: #0493d2;
  }
  .sub-menu a:hover::before,
.sub-menu span:hover::before {
    left: 8px;
  }
  .sub-menu a:hover::after,
.sub-menu span:hover::after {
    width: 100%;
  }
  .sub-menu a {
    overflow: hidden;
    width: max-content;
  }
  .sub-menu a::after {
    content: "";
    height: 1px;
    background-color: #0493d2;
    position: absolute;
    bottom: 5px;
    left: 22px;
    right: 0;
    transition: all 0.4s ease;
    width: 0%;
  }
}
/* end screen-min:751px */
/* end screen-min:751px && screen-max:1500px */
@media screen and (max-width: 750px) {
  [href^=tel]:hover {
    color: unset !important;
  }

  #wrapper {
    min-width: unset !important;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .pc {
    display: none !important;
  }

  .hamburger-btn {
    display: block;
  }

  #header {
    height: 70px;
    padding: 12px 0;
  }
  #header .logo {
    display: flex;
    align-items: center;
  }
  #header .logo img {
    width: 280px;
  }

  .header-menu {
    top: 70px;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 70px;
  }

  .header-social {
    margin: 0 20px 0 0;
  }

  .menu-list {
    display: block;
    width: 100%;
    padding: 0 70px;
  }
  .dropdown {
    border-bottom: 1px solid #fff;
  }
  .dropdown .open .mu-ic {
    transform: translateY(-50%) rotate(-90deg);
  }
  .dropdown .open .mu-ic::before {
    content: "";
    opacity: 0;
  }
  .dropdown span {
    padding: 10px 0;
    width: 100%;
    display: block;
    font-weight: normal;
  }
  .dropdown span::after {
    content: "";
    width: 60px;
    height: 1px;
    transform: none;
    left: -10px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  .dropdown .mu-ic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 2px;
    height: 20px;
    padding: 0;
    display: block;
    background-color: #0493d2;
    transition: all 0.3s ease;
  }
  .dropdown .mu-ic::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 2px;
    height: 20px;
    background-color: #0493d2;
    transform: rotate(90deg);
    transition: all 0.3s ease;
  }
  .dropdown .mu-ic::after {
    display: none;
  }

  .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    padding: 0 10px;
  }
  .sub-menu a,
.sub-menu span {
    padding: 10px;
    padding-left: 20px;
  }
  .sub-menu a::before {
    top: 50%;
    transform: translateY(-50%);
  }
  .sub-menu a::after {
    content: "";
    width: calc(100% + 20px);
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* end screen-max:750px */
/* end screen-max:640px */
/* end screen-max:560px */
/* end screen-max:520px */
/* end screen-max:475px */
@media screen and (max-width: 425px) {
  #header .logo img {
    width: 200px;
  }

  .menu-list {
    padding: 0 20px;
  }

  .dropdown span {
    font-size: 16px;
  }
  .dropdown span::after {
    left: -5px;
  }
  .dropdown .mu-ic {
    height: 16px;
  }
  .dropdown .mu-ic::before {
    height: 16px;
  }

  .hamburger-btn {
    width: 36px;
    height: 36px;
  }
  .hamburger-btn span {
    font-size: 10px;
  }
}
/* end screen-max:425px */
/* end screen-max:375px */
@media screen and (max-width: 320px) {
  .header-social {
    margin-right: 15px;
  }
}
/* end screen-max:320px */
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=responsive.css.map */
