@import url(../js/libs/aos/aos.css);
@import url(../js/libs/slick/slick.css);
@import url(../js/libs/slick/slick-theme.css);
@import url(../css/animation.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

fieldset,
img {
  border: 0;
}

img,
iframe {
  display: block;
  max-width: 100%;
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}

del,
ins {
  text-decoration: none;
}

ol,
ul,
li {
  list-style-type: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

abbr {
  cursor: help;
}

sup {
  vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
  font-size: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5em;
}

th {
  font-weight: bold;
  text-align: center;
}

caption {
  padding-bottom: 0.5em;
  text-align: right;
}

dfn {
  font-style: normal;
}

address {
  font-style: normal;
  line-height: 1;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
* {
  box-sizing: border-box;
  text-rendering: optimizespeed;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 15px;
  min-height: 100vh;
  transform-origin: all 0.3s;
  min-width: 320px;
}

body,
html {
  min-height: 100%;
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.4;
  color: #2d231f;
  background: #fff;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #0493d2;
  border-radius: 990px;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;
}

/*=============================G L O B A L=============================*/
#wrapper {
  max-width: 1920px;
  min-width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.container-full {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.cols {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  padding: 15px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-h-100 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.lk-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ovh {
  overflow: hidden;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
}

.tt-14 {
  font-size: 14px;
}

.tt-12 {
  font-size: 12px;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.f-italic {
  font-style: italic;
}

.f-black {
  font-weight: 900;
}

.f-bold {
  font-weight: bold;
}

.f-medium {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: normal;
}

.mr0 {
  margin-right: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.btn {
  width: 260px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-family: "Noto Serif JP", serif;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  background: url("../images/ic-rt3.png") center no-repeat;
  background-size: contain;
  width: 6px;
  height: 10px;
  transition: all 0.4s ease;
}
.btn:hover::before {
  filter: brightness(1) invert(0.5);
  right: 15px;
}
.btn.btn-green {
  background-color: #54ba98;
  border-color: #54ba98;
}
.btn.btn-green:hover {
  background-color: #fff;
  color: #54ba98;
}

.hamburger-btn {
  width: 47px;
  height: 47px;
  position: relative;
  cursor: pointer;
  z-index: 99;
}
.hamburger-btn span {
  display: block;
  margin-top: 13px;
  color: #0493d2;
  font-family: "Lora", serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hamburger-btn .bar {
  width: 100%;
  height: 4px;
  position: relative;
  margin-top: 14px;
  background-color: #0493d2;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #0493d2;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before {
  top: -10px;
}
.hamburger-btn .bar::after {
  top: 10px;
}
.hamburger-btn.--active span {
  display: none;
}
.hamburger-btn.--active .bar {
  background-color: transparent;
}
.hamburger-btn.--active .bar::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-btn.--active .bar::after {
  top: 0;
  transform: rotate(135deg);
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 70px;
  height: 70px;
  background-color: #0493d2;
  border: 1px #0493d2 solid;
  border-radius: 100%;
  cursor: pointer;
  z-index: 98;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.scroll-top.--active {
  opacity: 1;
  visibility: visible;
}
.scroll-top::before {
  content: "";
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: url("../images/svg/ic-rt-w01.svg") center no-repeat;
  width: 6px;
  height: 10px;
  filter: brightness(0) invert(1);
  transition: all 0.3s ease;
}
.scroll-top::after {
  content: "Top";
  font-family: "Lora", serif;
  color: #fff;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
}
.scroll-top:hover {
  opacity: 0.8;
}

#topic-path {
  padding: 15px 0;
}
#topic-path .topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#topic-path li, #topic-path a {
  font-size: 14px;
}
#topic-path li {
  position: relative;
}
#topic-path li::after {
  content: ">";
  display: inline-block;
  padding: 0 4px;
}
#topic-path li:last-child::after {
  display: none;
}
#topic-path a:hover {
  color: #0493d2;
}

.main-cl {
  color: #0493d2;
}

.cl-green {
  color: #54ba98;
}

.cl-green3 {
  color: #54BB99;
}

.f-serif {
  font-family: "Noto Serif JP", serif;
}

.f-lora {
  font-family: "Lora", serif;
}

/*============================= H_E_A_D_E_R =============================*/
#header {
  background: #fff;
  padding: 16px 0;
  height: 88px;
  width: 100%;
  transition: all 0.3s ease;
}
#header h1 {
  display: none;
}
#header .logo a {
  display: block;
}

.open-nav .header-menu {
  opacity: 1;
  visibility: visible;
}

.header-main {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header-act {
  display: flex;
  align-items: center;
}

.header-social {
  width: 24px;
  height: 24px;
  background: url("../images/svg/ic-instagram.svg") center no-repeat;
  background-size: contain;
  margin-right: 31px;
  margin-top: 24px;
}

.header-web {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  position: relative;
  width: 200px;
  height: 48px;
  border-radius: 5px;
  letter-spacing: 1px;
  background-image: linear-gradient(135deg, #038ed1 0%, #06abd1 31.5642%, #4ab9a6 66.2011%, #78be62 100%);
}
.header-web::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/svg/ic-calen.svg") center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.header-web::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #fff transparent;
}

.header-phone {
  font-size: 26px;
  font-family: "Noto Serif JP", serif;
  position: relative;
  margin-right: 16px;
  letter-spacing: 0.6px;
}
.header-phone::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url("../images/svg/ic-tel.svg") center no-repeat;
  background-size: contain;
  transform: translate(2px, 1px);
}

.menu-list {
  position: relative;
  display: flex;
}
.menu-list a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.dropdown {
  position: relative;
}
.dropdown > span {
  color: #0493d2;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  position: relative;
  letter-spacing: 2px;
}
.dropdown > span::after {
  content: "";
  width: 2px;
  height: 40px;
  background-color: #0493d2;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.sub-menu {
  width: 100%;
}
.sub-menu a,
.sub-menu span {
  padding: 7px 10px 8px;
  padding-left: 20px;
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.sub-menu a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 5px;
  width: 6px;
  height: 10px;
  background: url("../images/ic-rt.png") center no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f2fbfd;
  z-index: 98;
  padding: 90px 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-ft {
  width: 830px;
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-ft a {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 140px;
  border-radius: 5px;
  font-family: "Noto Serif JP", serif;
}
.menu-ft .mu-tt {
  font-size: 18px;
  position: relative;
}
.menu-ft .mu-tt::before, .menu-ft .mu-tt::after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 4px;
  background-color: #fff;
}
.menu-ft .mu-tt::before {
  left: -18px;
  transform: rotate(-45deg);
}
.menu-ft .mu-tt::after {
  right: -17px;
  transform: rotate(45deg);
}
.menu-ft .menu-contact {
  border: 2px solid #0493d2;
  background-color: #fff;
}
.menu-ft .menu-contact .mu-tt {
  color: #0493d2;
  transform: translateX(4px);
  margin-top: 5px;
}
.menu-ft .menu-contact .mu-tt::before, .menu-ft .menu-contact .mu-tt::after {
  background-color: #0493d2;
}
.menu-ft .mu-tell {
  font-size: 35px;
  position: relative;
  letter-spacing: 1px;
  transform: translateY(1px);
}
.menu-ft .mu-tell::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 27px;
  background: url("../images/svg/ic-tel2.svg") center no-repeat;
  background-size: contain;
  margin-right: 17px;
  transform: translateX(10px);
}
.menu-ft .menu-web {
  position: relative;
  color: #fff;
  overflow: hidden;
}
.menu-ft .menu-web::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg-gradient.jpg");
}
.menu-ft .menu-web::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.menu-ft .menu-web .mu-tt {
  margin-bottom: 5px;
}
.menu-ft .mu-wtt {
  font-size: 30px;
  position: relative;
  letter-spacing: 2px;
}
.menu-ft .mu-wtt::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 24px;
  background: url("../images/svg/ic-calen2.svg") center no-repeat;
  background-size: contain;
  margin-right: 6px;
  transform: translate(-2px, 2px);
}

/*============================= F_O_O_T_E_R =============================*/
#footer {
  display: block;
  clear: both;
  margin-top: auto;
}
#footer .copyright {
  text-align: center;
  font-weight: 300;
  letter-spacing: 1.3px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.footer-top {
  background: #f2fbfd url("../images/bg-clip.png") center bottom -10px no-repeat;
  padding: 62px 0 43px;
}
.footer-top .ft-logo {
  display: block;
  margin-bottom: 51px;
}
.footer-top .ft-logo img {
  margin: 0 auto;
}
.footer-top .ft-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 33px;
}
.footer-top .ft-list li {
  width: calc(50% - 20px);
  background-color: #fff;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer-top .ft-tkb {
  margin-bottom: 30px;
}
.footer-top .ft-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.footer-top .if-tt {
  color: #0493d2;
  font-family: "Noto Serif JP", serif;
  display: block;
  font-size: 13px;
  transform: translate(6px, 1px);
  letter-spacing: 0.5px;
}
.footer-top .if-tel {
  font-size: 24px;
  letter-spacing: 0.5px;
}
.footer-top .if-tel::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url("../images/svg/ic-tel.svg") center no-repeat;
  background-size: contain;
  transform: translate(0px, 1px);
}
.footer-top .if-web {
  width: 172px;
  height: 48px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #038ed1 0%, #06abd1 31.5642%, #4ab9a6 66.2011%, #78be62 100%);
  color: #fff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  position: relative;
}
.footer-top .if-web::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/svg/ic-calen.svg") center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.footer-top .if-web::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #fff transparent;
}
.footer-top .ft-img {
  display: flex;
  flex-wrap: wrap;
}
.footer-top .ft-map iframe {
  width: 100%;
  height: 272px;
}
.footer-top .map-list {
  margin-bottom: 14px;
}
.footer-top .map-list p {
  letter-spacing: 1.4px;
  margin-top: 5px;
}
.footer-top .map-list p::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  transform: translateY(5px);
}
.footer-top .map-location::before {
  width: 13px;
  height: 22px;
  background: url("../images/svg/ic-location.svg") center no-repeat;
  background-size: contain;
}
.footer-top .map-train::before {
  width: 14px;
  height: 21px;
  background: url("../images/svg/ic-train.svg") center no-repeat;
  background-size: contain;
}
.footer-top .map-lk {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.4px;
}
.footer-top .map-lk::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/svg/ic-rt2.svg") center no-repeat;
  background-size: contain;
  margin-left: 11px;
  transform: translate(-1px, 2px);
}
.footer-top .ft-desc {
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 2.1;
  margin-bottom: 100px;
}

.footer-bottom {
  background: url("../images/footer-b-img01.jpg") center no-repeat;
  height: 428px;
  position: relative;
}
.footer-bottom .menu-list {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 29px 76px 43px;
  transform: translateY(-49px);
}
.footer-bottom .menu-list .dropdown:nth-child(2) {
  transform: translateX(0);
}
.footer-bottom .sub-menu {
  margin-top: 11px;
}

/*============================= C_O_N_T_E_N_T =============================*/
.index img {
  height: auto;
}

.concept {
  position: relative;
  background-color: #f2f9ee;
  padding: 70px 0 109px;
}
.concept .concept-wrapper {
  position: relative;
}
.concept .concept-title {
  display: inline-block;
  width: 42%;
  width: 460px;
  margin-top: 25px;
  margin-bottom: 14px;
}
.concept .cpt-en {
  font-family: "Lora", serif;
  color: #54ba98;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 29px;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2.1px;
}
.concept .cpt-en::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #54ba98;
}
.concept .cpt-jp {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  display: block;
}
.concept .concept-img {
  float: left;
  margin-left: calc(((100vw - 1000px) / 2 + 40px) * -1);
  margin-right: 131px;
  position: relative;
  z-index: 0;
}
.concept .concept-img::before {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -30px;
  width: 400px;
  height: 400px;
  background-color: #bedfab;
  z-index: -1;
  opacity: 0.5;
}
.concept .concept-desc {
  line-height: 2.1;
  letter-spacing: 0.23px;
  margin-bottom: 54px;
}
.concept .concept-ig {
  position: absolute;
  bottom: 2px;
  right: calc(((100vw - 1000px) / 2 + 67px) * -1);
  z-index: 0;
}
.concept .concept-ig::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 200px;
  height: 200px;
  background-color: #bedfab;
  opacity: 0.5;
  z-index: -1;
}

.greetings {
  position: relative;
  padding: 96px 0 100px;
  background: url("../images/bg-logo.png") no-repeat;
  background-position: top 112px right 100px;
}
.greetings .greetings-title {
  margin-bottom: 62px;
  text-align: center;
}
.greetings .gts-en {
  color: #0493d2;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 18px;
  font-family: "Lora", serif;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.6px;
}
.greetings .gts-en::before {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0493d2;
}
.greetings .gts-jp {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  display: block;
}
.greetings .greeting-main {
  position: relative;
  z-index: 0;
  mix-blend-mode: darken;
}
.greetings .greeting-main::after {
  content: "";
  width: 100vw;
  height: 484px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0493d2;
  z-index: -2;
}
.greetings .greeting-main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  top: calc(38% + 3px);
  z-index: -1;
}
.greetings .greetings-tt {
  display: inline-block;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  margin-bottom: 66px;
  color: #fff;
  padding-top: 23px;
}
.greetings .greetings-tt .gts-tt1 {
  font-size: 25px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin-bottom: 19px;
  padding-bottom: 4px;
}
.greetings .greetings-tt .fz-bg {
  font-size: 190%;
  font-weight: 300;
  display: inline-block;
  transform: translate(5px, 3px);
  letter-spacing: 1px;
}
.greetings .greetings-tt .gts-tt2 {
  font-size: 18px;
  display: block;
  line-height: 1.6;
  padding-left: 15px;
  letter-spacing: 0.5px;
}
.greetings .greetings-float {
  float: left;
  width: 425px;
  margin-right: 30px;
  margin-top: -66px;
  padding-left: 40px;
}
.greetings .gts-img {
  position: relative;
  margin-bottom: 25px;
}
.greetings .gts-img img {
  margin-left: auto;
}
.greetings .gts-info {
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 58px 10px;
  font-family: "Noto Serif JP", serif;
  width: 118px;
  height: 330px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
}
.greetings .gts-name {
  font-size: 32px;
  transform: translateX(-3px);
  letter-spacing: 3px;
}
.greetings .gts-job {
  color: #0493d2;
  font-size: 19px;
  letter-spacing: 2.5px;
}
.greetings .gts-ft {
  padding-left: 16px;
}
.greetings .gts-tt {
  color: #0493d2;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;
}
.greetings .gts-tt::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 34px;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #0493d2;
  z-index: -1;
}
.greetings .gts-tt span {
  background-color: #fff;
  padding-right: 14px;
}
.greetings .gts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 19px;
}
.greetings .gts-list li {
  width: 49%;
  position: relative;
  padding-left: 12px;
  margin: 4px 0.5% 7px;
  letter-spacing: 0.8px;
}
.greetings .gts-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #0493d2;
}
.greetings .greeting-desc {
  line-height: 2.1;
  letter-spacing: 0.4px;
  margin-bottom: 44px;
  padding-right: 40px;
  letter-spacing: 0.85px;
}
.greetings .btn {
  margin: 0 auto;
  transform: translateX(-24px);
}

.treatments {
  padding: 59px 0 49px;
  background: #e6f4fa url("../images/bg-treatments.png") top 98px left 70% no-repeat;
}
.treatments .ttm-title {
  text-align: center;
  margin-bottom: 95px;
}
.treatments .ttm-en {
  position: relative;
  color: #0493d2;
  padding-bottom: 12px;
  margin-bottom: 16px;
  font-family: "Lora", serif;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.5px;
}
.treatments .ttm-en::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #0493d2;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.treatments .ttm-jp {
  font-size: 32px;
  font-family: "Noto Serif JP", serif;
  display: block;
}
.treatments .ttm-list {
  margin: -10px -33px;
}
.treatments .ttm-item {
  position: relative;
  padding: 10px 33px;
}
.treatments .ttm-head {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.treatments .ttm-head span {
  font-size: 17px;
  font-family: "Noto Serif JP", serif;
}
.treatments .ttm-tt1 {
  display: block;
}
.treatments .ttm-ig {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 20px;
}
.treatments .ttm-img {
  position: relative;
  width: 240px;
  height: 240px;
  transform: translateX(-10px);
}
.treatments .ttm-img span {
  display: block;
  background-repeat: no-repeat;
  background-position: center right -70px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.treatments .ttm-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 260px;
  border: 1px solid #0493d2;
  border-radius: 100%;
}
.treatments .tm-ig2 span {
  background-position: center right -90px;
}
.treatments .tm-ig3 span {
  background-position: top -52px right -43px;
}
.treatments .ttm-name {
  display: flex;
  align-items: center;
  padding: 17px 0 0;
  width: 60px;
  height: 200px;
  font-family: "Noto Serif JP", serif;
  font-size: 26px;
  writing-mode: vertical-lr;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: multiply;
  white-space: nowrap;
  letter-spacing: 2px;
}
.treatments .ttm-name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0493d2;
  z-index: -1;
}
.treatments .ttm-desc {
  line-height: 2.15;
  letter-spacing: 0.3px;
}

.main-menus {
  position: relative;
  padding: 84px 0 20px;
}
.main-menus .menus-wrapper {
  width: 1330px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-menus .menus-wrap {
  display: flex;
  align-items: flex-start;
  padding: 74px 0;
}
.main-menus .menus-title {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  width: 82px;
  margin-right: 60px;
  padding-top: 10px;
}
.main-menus .menus-en {
  color: #0493d2;
  font-family: "Lora", serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 7px;
  position: relative;
  display: block;
  text-align: center;
  transform: translate(3px, 0);
}
.main-menus .menus-en::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 1px;
  height: 100px;
  background-color: #0493d2;
}
.main-menus .menus-jp {
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif JP", serif;
}
.main-menus .mu-jptt1 {
  font-size: 42px;
  letter-spacing: 3px;
}
.main-menus .mu-jptt2 {
  color: #0493d2;
  font-size: 22px;
  padding-left: 15px;
  letter-spacing: 2px;
}
.main-menus .menus-lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 142px);
}
.main-menus .menus-item {
  display: flex;
  position: relative;
}
.main-menus .menus-item:hover .menus-tt::before {
  right: -10px;
}
.main-menus .menus-item:nth-child(3n+1) {
  width: 233px;
}
.main-menus .menus-item:nth-child(3n+2) {
  width: 256px;
  transform: translateX(13px);
}
.main-menus .menus-item:nth-child(3n+3) {
  width: 278px;
}
.main-menus .menus-item:nth-child(5) .menus-tt, .main-menus .menus-item:nth-child(6) .menus-tt, .main-menus .menus-item:nth-child(11) .menus-tt {
  font-size: 18px;
  letter-spacing: 1px;
}
.main-menus .menus-item:nth-child(5) .menus-txt {
  margin-top: -9px;
}
.main-menus .menus-item:nth-child(5) .menus-tt {
  margin-bottom: 4px;
}
.main-menus .menus-item:nth-child(6) .menus-txt {
  margin-top: 4px;
}
.main-menus .menus-item:nth-child(6) .menus-tt {
  margin-bottom: 17px;
}
.main-menus .menus-item:nth-child(11) .menus-txt {
  margin-top: -5px;
}
.main-menus .menus-item:nth-child(11) .menus-tt {
  margin-bottom: 4px;
}
.main-menus .menus-item.mn-itm01:hover .menus-ig {
  background-color: #0493d2;
  border-color: #0493d2;
}
.main-menus .menus-item.mn-itm01:hover .menus-ig img {
  filter: brightness(0) invert(1);
}
.main-menus .menus-item.mn-itm01 .menus-tt {
  color: #0493d2;
}
.main-menus .menus-item.mn-itm01 .menus-tt::before {
  background-color: #0493d2;
}
.main-menus .menus-item.mn-itm01 .menus-lt li::before {
  background-color: #0493d2;
}
.main-menus .menus-item.mn-itm02 {
  margin-top: 51px;
}
.main-menus .menus-item.mn-itm02:hover .menus-ig {
  background-color: #00b6ce;
  border-color: #00b6ce;
}
.main-menus .menus-item.mn-itm02:hover .menus-ig img {
  filter: brightness(0) invert(1);
}
.main-menus .menus-item.mn-itm02 .menus-tt {
  color: #00b6ce;
}
.main-menus .menus-item.mn-itm02 .menus-tt::before {
  background-color: #00b6ce;
}
.main-menus .menus-item.mn-itm02 .menus-lt li::before {
  background-color: #00b6ce;
}
.main-menus .menus-item.mn-itm03 {
  margin-top: 40px;
}
.main-menus .menus-item.mn-itm03:hover .menus-ig {
  background-color: #54BB99;
  border-color: #54BB99;
}
.main-menus .menus-item.mn-itm03:hover .menus-ig img {
  filter: brightness(0) invert(1);
}
.main-menus .menus-item.mn-itm03 .menus-tt {
  color: #54BB99;
}
.main-menus .menus-item.mn-itm03 .menus-tt::before {
  background-color: #54BB99;
}
.main-menus .menus-item.mn-itm03 .menus-lt li::before {
  background-color: #54BB99;
}
.main-menus .menus-item.mn-itm04 {
  margin-top: 49px;
}
.main-menus .menus-item.mn-itm04:hover .menus-ig {
  background-color: #7DC057;
  border-color: #7DC057;
}
.main-menus .menus-item.mn-itm04:hover .menus-ig img {
  filter: brightness(0) invert(1);
}
.main-menus .menus-item.mn-itm04 .menus-tt {
  color: #7DC057;
}
.main-menus .menus-item.mn-itm04 .menus-tt::before {
  background-color: #7DC057;
}
.main-menus .menus-item.mn-itm04 .menus-lt li::before {
  background-color: #7DC057;
}
.main-menus .menus-ig {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  flex-shrink: 0;
  transition: all 0.4s ease;
}
.main-menus .menus-ig img {
  transition: all 0.3s ease;
}
.main-menus .menus-txt {
  padding-left: 10px;
  width: calc(100% - 80px);
}
.main-menus .menus-tt {
  font-size: 26px;
  color: #0493d2;
  position: relative;
  display: block;
  padding-right: 30px;
  margin-bottom: 11px;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 2px;
}
.main-menus .menus-tt::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0493d2 url("../images/svg/ic-rt-w01.svg") center no-repeat;
  background-size: 5px 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.main-menus .menus-lt li {
  display: block;
  position: relative;
  padding-left: 13px;
  margin-bottom: 4px;
  letter-spacing: 0.8px;
  white-space: nowrap;
}
.main-menus .menus-lt li:last-child {
  margin-bottom: 0;
}
.main-menus .menus-lt li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

.features {
  padding: 77px 0 98px;
  background: url("../../images/bg-clip-green.png") bottom center no-repeat;
}
.features .features-title {
  margin-bottom: 56px;
  text-align: center;
}
.features .ftr-en {
  color: #54BB99;
  text-transform: uppercase;
  font-family: "Lora", serif;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 18px;
  display: block;
  letter-spacing: 0.7px;
}
.features .ftr-en::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background-color: #54BB99;
}
.features .ftr-jp {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  display: block;
}
.features .features-list {
  margin: 0 -25px 53px;
  pointer-events: none;
}
.features .features-item {
  padding: 0 25px;
}
.features .features-img {
  position: relative;
  margin-bottom: 24px;
}
.features .features-img::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: -10px;
  right: 0;
  left: 10px;
  border: 1px solid #BEDFAB;
}
.features .feature-tt {
  font-size: 26px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 6px;
  text-align: center;
  letter-spacing: 3px;
}
.features .feature-desc {
  line-height: 2.1;
  letter-spacing: 0.3px;
}
.features .btn {
  margin: 0 auto;
}

.firsts {
  padding: 0 0 100px;
}
.firsts .firsts-img {
  display: flex;
}
.firsts .firsts-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -128px;
  background-color: #fff;
  padding: 74px 58px 40px 81px;
  transform: translateX(3px);
}
.firsts .firsts-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 64px;
}
.firsts .firsts-title {
  width: 360px;
}
.firsts .frt-en {
  color: #54BB99;
  text-transform: uppercase;
  font-family: "Lora", serif;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 19px;
  display: block;
  letter-spacing: 0.5px;
}
.firsts .frt-en::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #54BB99;
}
.firsts .frt-jp {
  display: block;
  font-size: 32px;
  font-family: "Noto Serif JP", serif;
}
.firsts .firsts-desc {
  line-height: 2.1;
  letter-spacing: 0.3px;
  width: 450px;
  letter-spacing: 0.6px;
  transform: translate(-2px, 8px);
}
.firsts .firsts-info {
  padding-right: 30px;
}
.firsts .firsts-list {
  display: flex;
  column-gap: 10px;
  margin-bottom: 29px;
}
.firsts .firsts-list li {
  width: calc(100% / 4);
}
.firsts .firsts-list li:last-child a {
  background-color: #0493d2;
  border-color: #0493d2;
}
.firsts .firsts-list li:last-child a:hover {
  background-color: #fff;
  color: #0493d2;
}
.firsts .firsts-list a {
  position: relative;
  background-color: #54BB99;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #54BB99;
  height: 60px;
  transition: all 0.3s ease;
}
.firsts .firsts-list a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  background: url("../images/svg/ic-rt-w01.svg") center no-repeat;
  background-size: contain;
  width: 6px;
  height: 10px;
  transition: all 0.3s ease;
}
.firsts .firsts-list a:hover {
  background-color: #fff;
  color: #54BB99;
}
.firsts .firsts-list a:hover::before {
  filter: brightness(0.5);
  right: 9px;
}
.firsts .firsts-btn {
  column-gap: 20px;
  display: flex;
}
.firsts .firsts-btn li {
  width: calc(50% - 10px);
}
.firsts .firsts-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 140px;
  border-radius: 5px;
  font-family: "Noto Serif JP", serif;
}
.firsts .firsts-btn .firsts-contact {
  border: 2px solid #0493d2;
  background-color: #fff;
}
.firsts .firsts-btn .firsts-contact .frts-tt {
  color: #0493d2;
  transform: translateX(4px);
  margin-top: 5px;
}
.firsts .firsts-btn .firsts-contact .frts-tt::after, .firsts .firsts-btn .firsts-contact .frts-tt::before {
  background-color: #0493d2;
}
.firsts .firsts-btn .frts-tt {
  font-size: 18px;
  position: relative;
}
.firsts .firsts-btn .frts-tt::before, .firsts .firsts-btn .frts-tt::after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 4px;
  background-color: #fff;
}
.firsts .firsts-btn .frts-tt::before {
  left: -18px;
  transform: rotate(-45deg);
}
.firsts .firsts-btn .frts-tt::after {
  right: -17px;
  transform: rotate(45deg);
}
.firsts .firsts-btn .frts-tell {
  font-size: 35px;
  position: relative;
  letter-spacing: 1px;
  transform: translateY(1px);
}
.firsts .firsts-btn .frts-tell::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 27px;
  background: url("../images/svg/ic-tel2.svg") center no-repeat;
  background-size: contain;
  margin-right: 17px;
  transform: translateX(10px);
}
.firsts .firsts-btn .frts-wtt {
  font-size: 30px;
  position: relative;
  letter-spacing: 2px;
}
.firsts .firsts-btn .frts-wtt::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 24px;
  background: url("../images/svg/ic-calen2.svg") center no-repeat;
  background-size: contain;
  margin-right: 6px;
  transform: translate(-2px, 2px);
}
.firsts .firsts-btn .firsts-web {
  position: relative;
  color: #fff;
  overflow: hidden;
}
.firsts .firsts-btn .firsts-web .frts-tt {
  margin-bottom: 5px;
}
.firsts .firsts-btn .firsts-web::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg-gradient.jpg");
}
.firsts .firsts-btn .firsts-web::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #fff transparent;
}

/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
/*======================= WORDPRESS ADMIN LOGED IN ========================*/

/*# sourceMappingURL=styles.css.map */
