@import url(../js/libs/aos/aos.css);
@import url(../js/libs/slick/slick.css);
@import url(../js/libs/slick/slick-theme.css);
@import url(../css/animation.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

fieldset,
img {
  border: 0;
}

img,
iframe {
  display: block;
  max-width: 100%;
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}

del,
ins {
  text-decoration: none;
}

ol,
ul,
li {
  list-style-type: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

abbr {
  cursor: help;
}

sup {
  vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
  font-size: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5em;
}

th {
  font-weight: bold;
  text-align: center;
}

caption {
  padding-bottom: 0.5em;
  text-align: right;
}

dfn {
  font-style: normal;
}

address {
  font-style: normal;
  line-height: 1;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* End hide from IE-mac */
* {
  box-sizing: border-box;
  text-rendering: optimizespeed;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 15px;
  min-height: 100vh;
  transform-origin: all 0.3s;
  min-width: 320px;
}

body,
html {
  min-height: 100%;
  margin: auto;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.4;
  color: #2d231f;
  background: #fff;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #0493d2;
  border-radius: 990px;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;
}

/*=============================G L O B A L=============================*/
#wrapper {
  max-width: 1920px;
  min-width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.container-full {
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.cols {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  padding: 15px;
}

.img-w-100 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-h-100 img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.lk-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ovh {
  overflow: hidden;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
}

.tt-14 {
  font-size: 14px;
}

.tt-12 {
  font-size: 12px;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.f-italic {
  font-style: italic;
}

.f-black {
  font-weight: 900;
}

.f-bold {
  font-weight: bold;
}

.f-medium {
  font-weight: 500;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: normal;
}

.mr0 {
  margin-right: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.hamburger-btn {
  width: 47px;
  height: 47px;
  position: relative;
  cursor: pointer;
  z-index: 99;
}
.hamburger-btn span {
  display: block;
  margin-top: 13px;
  color: #0493d2;
  font-family: "Lora", serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hamburger-btn .bar {
  width: 100%;
  height: 4px;
  position: relative;
  margin-top: 14px;
  background-color: #0493d2;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before, .hamburger-btn .bar::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #0493d2;
  transition: all 0.3s ease;
}
.hamburger-btn .bar::before {
  top: -10px;
}
.hamburger-btn .bar::after {
  top: 10px;
}
.hamburger-btn.--active span {
  display: none;
}
.hamburger-btn.--active .bar {
  background-color: transparent;
}
.hamburger-btn.--active .bar::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger-btn.--active .bar::after {
  top: 0;
  transform: rotate(135deg);
}

.scroll-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #0493d2;
  border: 1px #0493d2 solid;
  border-radius: 4px;
  cursor: pointer;
  z-index: 98;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.scroll-top.--active {
  opacity: 1;
  visibility: visible;
}
.scroll-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/ic-scrolltop.png") center no-repeat;
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.scroll-top:hover {
  opacity: 0.8;
}

#topic-path {
  padding: 15px 0;
}
#topic-path .topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#topic-path li, #topic-path a {
  font-size: 14px;
}
#topic-path li {
  position: relative;
}
#topic-path li::after {
  content: ">";
  display: inline-block;
  padding: 0 4px;
}
#topic-path li:last-child::after {
  display: none;
}
#topic-path a:hover {
  color: #0493d2;
}

.main-cl {
  color: #0493d2;
}

.f-serif {
  font-family: "Noto Serif JP", serif;
}

.f-lora {
  font-family: "Lora", serif;
}

/*============================= H_E_A_D_E_R =============================*/
#header {
  background: #fff;
  padding: 16px 0;
  height: 88px;
  width: 100%;
  transition: all 0.3s ease;
}
#header h1 {
  display: none;
}
#header .logo a {
  display: block;
}

.open-nav .header-menu {
  opacity: 1;
  visibility: visible;
}

.header-main {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header-act {
  display: flex;
  align-items: center;
}

.header-social {
  width: 24px;
  height: 24px;
  background: url("../images/ic-instagram.png") center no-repeat;
  background-size: contain;
  margin-right: 31px;
  margin-top: 24px;
}

.header-web {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  position: relative;
  width: 200px;
  height: 48px;
  border-radius: 5px;
  letter-spacing: 1px;
  background-image: linear-gradient(135deg, #038ed1 0%, #06abd1 31.5642%, #4ab9a6 66.2011%, #78be62 100%);
}
.header-web::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/ic-calen.png") center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.header-web::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #fff transparent;
}

.header-phone {
  font-size: 26px;
  font-family: "Noto Serif JP", serif;
  position: relative;
  margin-right: 16px;
  letter-spacing: 0.6px;
}
.header-phone::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url("../images/ic-tel.png") center no-repeat;
  background-size: contain;
  transform: translate(2px, 1px);
}

.menu-list {
  position: relative;
  display: flex;
}
.menu-list a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.dropdown {
  position: relative;
}
.dropdown > span {
  color: #0493d2;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Serif JP", serif;
  position: relative;
  letter-spacing: 2px;
}
.dropdown > span::after {
  content: "";
  width: 2px;
  height: 40px;
  background-color: #0493d2;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.sub-menu {
  width: 100%;
}
.sub-menu a,
.sub-menu span {
  padding: 7px 10px 8px;
  padding-left: 20px;
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.sub-menu a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 5px;
  width: 6px;
  height: 10px;
  background: url("../images/ic-rt.png") center no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f2fbfd;
  z-index: 98;
  padding: 90px 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-ft {
  width: 830px;
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-ft a {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 140px;
  border-radius: 5px;
  font-family: "Noto Serif JP", serif;
}
.menu-ft .mu-tt {
  font-size: 18px;
  position: relative;
}
.menu-ft .mu-tt::before, .menu-ft .mu-tt::after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 4px;
  background-color: #fff;
}
.menu-ft .mu-tt::before {
  left: -18px;
  transform: rotate(-45deg);
}
.menu-ft .mu-tt::after {
  right: -17px;
  transform: rotate(45deg);
}
.menu-ft .menu-contact {
  border: 2px solid #0493d2;
  background-color: #fff;
}
.menu-ft .menu-contact .mu-tt {
  color: #0493d2;
  transform: translateX(4px);
  margin-top: 5px;
}
.menu-ft .menu-contact .mu-tt::before, .menu-ft .menu-contact .mu-tt::after {
  background-color: #0493d2;
}
.menu-ft .mu-tell {
  font-size: 35px;
  position: relative;
  letter-spacing: 1px;
  transform: translateY(1px);
}
.menu-ft .mu-tell::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 27px;
  background: url("../images/ic-tel2.png") center no-repeat;
  background-size: contain;
  margin-right: 17px;
  transform: translateX(10px);
}
.menu-ft .menu-web {
  position: relative;
  color: #fff;
  overflow: hidden;
}
.menu-ft .menu-web::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg-gradient.jpg");
}
.menu-ft .menu-web::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.menu-ft .menu-web .mu-tt {
  margin-bottom: 5px;
}
.menu-ft .mu-wtt {
  font-size: 30px;
  position: relative;
  letter-spacing: 2px;
}
.menu-ft .mu-wtt::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 24px;
  background: url("../images/ic-calen2.png") center no-repeat;
  background-size: contain;
  margin-right: 6px;
  transform: translate(-2px, 2px);
}

/*============================= F_O_O_T_E_R =============================*/
#footer {
  display: block;
  clear: both;
  margin-top: auto;
}
#footer .copyright {
  padding: 14px 0;
  text-align: center;
  color: #92d4e1;
  background: #004870;
  font-size: 11px;
  letter-spacing: 0.005em;
}

.footer-top {
  background-color: wheat;
}
.footer-top .ft-logo {
  display: block;
  margin-bottom: 50px;
}
.footer-top .ft-logo img {
  margin: 0 auto;
}
.footer-top .ft-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-top .ft-list li {
  width: calc(50% - 20px);
  background-color: #fff;
  padding: 52px 50px;
}
.footer-top .ft-tkb {
  margin-bottom: 30px;
}
.footer-top .ft-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.footer-top .if-tt {
  color: #0493d2;
  font-family: "Noto Serif JP", serif;
  display: block;
  font-size: 13px;
  transform: translate(6px, 1px);
  letter-spacing: 0.5px;
}
.footer-top .if-tel {
  font-size: 24px;
  letter-spacing: 0.5px;
}
.footer-top .if-tel::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 20px;
  background: url(../images/ic-tel.png) center no-repeat;
  background-size: contain;
  transform: translate(0px, 1px);
}
.footer-top .if-web {
  width: 172px;
  height: 48px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #038ed1 0%, #06abd1 31.5642%, #4ab9a6 66.2011%, #78be62 100%);
  color: #fff;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  position: relative;
}
.footer-top .if-web::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../images/ic-calen.png") center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.footer-top .if-web::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #fff transparent;
}
.footer-top .ft-img {
  display: flex;
  flex-wrap: wrap;
}
.footer-top .ft-map iframe {
  width: 100%;
  height: 272px;
}
.footer-top .map-list {
  margin-bottom: 14px;
}
.footer-top .map-list p {
  letter-spacing: 1.4px;
  margin-top: 5px;
}
.footer-top .map-list p::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  transform: translateY(5px);
}
.footer-top .map-location::before {
  width: 13px;
  height: 22px;
  background: url("../images/ic-location.png") center no-repeat;
  background-size: contain;
}
.footer-top .map-train::before {
  width: 14px;
  height: 21px;
  background: url("../images/ic-train.png") center no-repeat;
  background-size: contain;
}
.footer-top .map-lk {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.4px;
}
.footer-top .map-lk::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/ic-rt2.png") center no-repeat;
  background-size: contain;
  margin-left: 11px;
  transform: translate(-1px, 2px);
}

/*============================= C_O_N_T_E_N_T =============================*/
.index img {
  width: auto;
  height: auto;
}

/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */
/*======================= WORDPRESS ADMIN LOGED IN ========================*/

/*# sourceMappingURL=styles.css.map */
