/*============================= G L O B A L =============================*/
.under section,
.under .section {
  margin-bottom: 80px;
}
.under section:last-child,
.under .section:last-child {
  margin-bottom: 0;
}
.under #content {
  padding: 0 0 100px;
  margin: 0 auto;
  width: 1080px;
}
.under #content p:last-child,
.under #content table:last-child {
  margin-bottom: 0;
}
.under #content p {
  margin-bottom: 15px;
}

.under-visual {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.under-visual h2 {
  position: relative;
  text-align: center;
  letter-spacing: -1.5px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.7;
  text-shadow: 0 0 8px #5e5e5e;
}

.under .h3,
.under .h4,
.under .h5,
.under .h6 {
  position: relative;
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: 500;
}
.under .h3 {
  font-size: 42px;
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: 4px;
  line-height: 1.6;
  font-weight: bold;
}
.under .h4 {
  font-size: 32px;
  letter-spacing: 5.5px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.under .h5 {
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.under .h6 {
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.under-tbl.tbl-center td,
.under-tbl.tbl-center th {
  text-align: center;
}
.under-tbl.tbl-fix {
  table-layout: fixed;
}
.under-tbl th {
  background-color: #8cdcf0;
  color: #333;
  font-weight: normal;
}
.under-tbl td,
.under-tbl th {
  border-color: #505050;
  vertical-align: top;
  padding: 10px;
}

.under-list li {
  position: relative;
  overflow: hidden;
  padding: 0 0 0 16px;
  margin-bottom: 10px;
  text-align: left;
}
.under-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #8cdcf0;
}
.under-list li:last-child {
  margin-bottom: 0;
}

.under-frame {
  background-color: rgba(140, 220, 240, 0.4);
  border-radius: 10px;
  border: 2px #8cdcf0 double;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.under-frame::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #8cdcf0 transparent transparent;
}
.under-frame .frm-tt {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}

.under-step dl {
  margin-bottom: 30px;
}
.under-step dl:last-child {
  margin-bottom: 0;
}
.under-step .step-tt {
  background-color: #8cdcf0;
  padding: 10px 20px;
}
.under-step .step-num {
  background-color: #333;
  padding: 5px 15px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.under-step dd {
  border: 1px solid #8cdcf0;
  border-top: none;
  background-color: rgba(140, 220, 240, 0.3);
  padding: 15px 20px;
}

.qa-list .qa-item {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 20px;
}
.qa-list .qa-item:last-child {
  margin-bottom: 0;
}
.qa-list dt {
  min-height: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px #000 dashed;
}
.qa-list dt .qa-kt {
  top: 5px;
}
.qa-list .qa-kt {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background-color: orange;
  position: absolute;
  bottom: 0;
  left: 0;
}
.qa-list dd {
  position: relative;
  padding-left: 60px;
  min-height: 40px;
}
.qa-list dd .qa-kt {
  top: 0;
}

.under-clm {
  display: flex;
}
.under-clm.col2 dl {
  width: 50%;
}
.under-clm dl {
  width: 100%;
  border: 1px solid #505050;
}
.under-clm dl:last-child {
  content: "";
  border-left: 0;
}
.under-clm dt {
  background-color: #8cdcf0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #505050;
}
.under-clm dd {
  padding: 15px;
}

.under-pickup {
  background-color: #8cdcf0;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px 0;
}
.under-pickup::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1160px;
  height: 85%;
  background: #4ec0dd;
  z-index: -1;
}
.under-pickup .pu-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.under-pickup .pu-img {
  float: left;
  margin: 50px 60px 0px 0;
}
.under-pickup h4 {
  display: inline-block;
  margin-bottom: 24px;
}
.under-pickup h4 span {
  display: block;
}
.under-pickup .pu-en {
  font-size: 75px;
  letter-spacing: 0.036em;
  color: #896d40;
  margin-bottom: 27px;
  line-height: 1em;
  display: block;
}
.under-pickup .pu-jp {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 1.5em;
}
.under-pickup .pu-desc p {
  letter-spacing: 0.08em;
  line-height: 2.34;
  font-size: 18px;
}

.under-link {
  text-align: center;
  margin: 0 0 200px;
}
.under-link .lk-head {
  margin-bottom: 49px;
}
.under-link .lk-tt {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 23px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.under-link .lk-desc {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.under-anc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.under-anc li {
  margin: 0 24px 20px;
}
.under-anc a {
  background: #4ec0dd;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 365px;
  height: 70px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: -0.5px;
  z-index: 1;
  transition: all 0.3s ease;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
}
.under-anc a::before {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border: 1px solid #fff;
  z-index: -2;
}
.under-anc a::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 0;
  height: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 26px 26px;
  border-color: transparent transparent #fff transparent;
  transition: all 0.3s ease;
}
.under-anc a:hover {
  background-color: #1b1b1b;
  color: #ffe61e;
}
.under-anc a:hover::after {
  border-color: transparent transparent #ffe61e transparent;
}

.main-under p,
.main-under li,
.main-under a,
.main-under th,
.main-under td,
.main-under dt,
.main-under dd,
.main-under dl {
  font-size: 18px;
}
.main-under a:hover {
  color: #4ec0dd;
}
.main-under .sec-wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.main-under .sech3 {
  background-color: #fffce8;
  padding: 31px 0 92px;
  margin-bottom: 120px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 1400px;
}
.main-under .sech3 p {
  font-size: 20px;
  padding: 0 50px 0 58px;
  letter-spacing: -0.5px;
  line-height: 2;
}

/*============================= Overnote =============================*/
/*============================= HACK CSS =============================*/
/* IE */
/* EGDE */
/* FIREFOX */
@-moz-document url-prefix() {}
/* Safari 10.1+ (which is the latest version of Safari at this time) */

/*# sourceMappingURL=under.css.map */
