// Core
@import "./core/variable";
@import "./core/mixins";

@include min-media(751px) {
    .sp {
        display: none !important;
    }

    [href^="tel"] {
        pointer-events: none;
    }

    //  ========================== Header ==========================
    .menu-list {
        //level 1
        > li {
            &:hover {
                > a,
                > span {
                    color: red;
                }
            }
        }
    }

    .dropdown {
        &:hover {
            > .sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
                z-index: 1;
            }
        }

        >span{
            pointer-events: none;
        }
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;

        transition: all 0.3s ease;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
        box-shadow: 10px 10px 30px rgba($color: black, $alpha: 0.16);

        a,
        span {
            &:hover {
                color: #fff;
                background-color: #1a2542;
            }
        }

        .sub-menu {
            top: 0;
            left: 100%;
        }
    }

    //  ========================== END - Headeer ==========================
}

/* end screen-min:751px */

@media screen and (min-width: 751px) and (max-width: 1500px) {
}

/* end screen-min:751px && screen-max:1500px */

@include max-media(750px) {
    // ========================== Base code ==========================

    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6,
    // input,
    // button,
    // textarea,
    // select,
    // p,
    // blockquote,
    // th,
    // td,
    // pre,
    // address,
    // li,
    // dt,
    // dd {
    //     font-size: 140%;
    // }

    [href^="tel"] {
        &:hover{
            color: unset !important;
        }
    }

    #wrapper {
        min-width: unset !important;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .pc {
        display: none !important;
    }

    .open-nav {
        .header-menu {
            top: 100px;
        }
    }

    .hamburger-btn {
        display: block;
    }

    // ========================== END Base code ==========================

    //  ========================== Header ==========================
    .header-menu {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: all 0.3s ease;
        z-index: 99;
        background-color: rgba($color: #1e2c63, $alpha: 0.7);
        background-color: #fff;
    }

    .menu-list {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 100px);
        // @include custom-vertical-scrollbar(3px, #1a2542);

        // style chung
        // a {
        //     padding: 10px 20px;
        // }

        // level 1
        > li {
            > a,
            > span {
                border-bottom: 1px solid #ebebeb;
                font-size: 14px;
                font-weight: bold;
                color: #004680;
                padding: 10px 20px;
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }

    .dropdown {
        .open {
            &::before {
                transform: scale(-1);
            }
        }

        span {
            &::before {
                content: "";
                border-top: solid 8px #1e2c63;
                border-left: solid 8px transparent;
                border-right: solid 8px transparent;
                position: absolute;
                right: 15px;
                top: calc(50% - 4px);
                transition: all 0.3s;
            }
        }
    }

    .sub-menu {
        position: relative;
        top: 0;
        left: 0;
        display: none;
        padding: 10px 20px;

        a,
        span {
            padding: 6px 16px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 10px;
                height: 1px;
                background-color: #004680;
            }
        }

        // .sub-menu a {
        //     padding-left: 30px;
        // }

        // .sub-menu .sub-menu a {
        //     padding-left: 40px;
        // }
    }
    //  ========================== END - Header ==========================
}

/* end screen-max:750px */

@include max-media(640px) {
}

/* end screen-max:640px */

@include max-media(560px) {
}

/* end screen-max:560px */

@include max-media(520px) {
}

/* end screen-max:520px */

@include max-media(475px) {
}

/* end screen-max:475px */

@include max-media(425px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        // font-size: 140%;
    }
}

/* end screen-max:425px */

@include max-media(375px) {
}

/* end screen-max:375px */

@include max-media(320px) {
}

/* end screen-max:320px */

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {
    // }
}
