// Core
@import "./core/variable";
@import "./core/mixins";

@include min-media(751px) {
    .sp {
        display: none !important;
    }

    [href^="tel"] {
        pointer-events: none;
    }

    //  ========================== Header ==========================
    .menu-logo {
        margin-bottom: 108px;
    }

    .header-menu {
        background: url("../images/bg-clip.png") bottom no-repeat #fff local;
    }

    .menu-list {
        width: 840px;
        justify-content: space-between;

        .dropdown {
            &:nth-child(2) {
                transform: translateX(23px);
            }
        }
    }

    .dropdown {
        display: flex;

        > span {
            pointer-events: none;
            writing-mode: vertical-rl;
        }
    }

    .sub-menu {
        margin-top: 16px;
        margin-left: 20px;
        width: max-content;
        a,
        span {
            &:hover {
                color: $main-cl;
                &::before {
                    left: 8px;
                }
                &::after {
                    width: 100%;
                }
            }
        }

        a {
            overflow: hidden;
            width: max-content;
            &::after {
                content: "";
                height: 1px;
                background-color: $main-cl;
                position: absolute;
                bottom: 5px;
                left: 22px;
                right: 0;
                transition: all 0.4s ease;
                width: 0%;
            }
        }
    }

    //  ========================== END - Headeer ==========================
}

/* end screen-min:751px */

@media screen and (min-width: 751px) and (max-width: 1500px) {
}

/* end screen-min:751px && screen-max:1500px */

@include max-media(750px) {
    // ========================== Base code ==========================

    [href^="tel"] {
        &:hover {
            color: unset !important;
        }
    }

    #wrapper {
        min-width: unset !important;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .pc {
        display: none !important;
    }

    .hamburger-btn {
        display: block;
    }

    // ========================== END Base code ==========================

    //  ========================== Header ==========================
    #header {
        height: 70px;
        padding: 12px 0;
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 280px;
            }
        }
    }

    .header-menu {
        top: 70px;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 70px;
    }

    .header-social {
        margin: 0 20px 0 0;
    }

    .menu-list {
        display: block;
        width: 100%;
        padding: 0 70px;
        // overflow-x: hidden;
        // overflow-y: auto;
        // height: calc(100vh - 70px);
        // @include custom-vertical-scrollbar(3px, #1a2542);

        // style chung
        // a {
        //     padding: 10px 20px;
        // }

        // level 1
        > li {
            > a,
            > span {
                // font-size: 14px;
                // font-weight: bold;
                // color: #004680;
                // position: relative;
            }
        }
    }

    .dropdown {
        border-bottom: 1px solid #fff;
        .open {
            .mu-ic{
                transform: translateY(-50%) rotate(-90deg);

                &::before{
                    content: '';
                    opacity: 0;
                }
            }
        }

        span {
            // padding: 10px 70px 10px;
            padding: 10px 0;
            width: 100%;
            display: block;
            // border-bottom: 1px solid blue;
            font-weight: normal;

            &::after {
                content: "";
                width: 60px;
                height: 1px;
                transform: none;
                left: -10px;
                top: 50%;
                transform: translate(-100%, -50%);
            }
        }
        .mu-ic {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            width: 2px;
            height: 20px;
            padding: 0;
            display: block;
            background-color: $main-cl;
            transition: all .3s ease;

            &::before {
                content: "";
                position: absolute;
                top: 0%;
                left: 0;
                width: 2px;
                height: 20px;
                background-color: $main-cl;
                transform: rotate(90deg);
                transition: all .3s ease;
            }
            &::after{
                display: none;
            }
        }
    }

    .sub-menu {
        position: relative;
        top: 0;
        left: 0;
        display: none;
        padding: 0 10px;

        a,
        span {
            padding: 10px;
            padding-left: 20px;
        }

        a{
            &::before{
                top: 50%;
                transform: translateY(-50%);
            }

            &::after{
                content: '';
                width: calc(100% + 20px);
                height: 1px;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    //  ========================== END - Header ==========================
}

/* end screen-max:750px */

@include max-media(640px) {
}

/* end screen-max:640px */

@include max-media(560px) {
}

/* end screen-max:560px */

@include max-media(520px) {
}

/* end screen-max:520px */

@include max-media(475px) {
}

/* end screen-max:475px */

@include max-media(425px) {
    #header {
        .logo {
            img {
                width: 200px;
            }
        }
    }

    .menu-list{
        padding: 0 20px;
    }

    .dropdown{
        span{
            font-size: 16px;
            &::after{
                left: -5px;
            }
        }

        .mu-ic{
            height: 16px;
            &::before{
                height: 16px;
            }
        }
    }

    .hamburger-btn {
        width: 36px;
        height: 36px;

        span {
            font-size: 10px;
        }
    }
    //  ========================== END - Header ==========================
}

/* end screen-max:425px */

@include max-media(375px) {
}

/* end screen-max:375px */

@include max-media(320px) {
    .header-social {
        margin-right: 15px;
    }
}

/* end screen-max:320px */

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {
    // }
}
