@charset "utf-8";

// Libraries
@import url(../js/libs/aos/aos.css);
@import url(../js/libs/slick/slick.css);
@import url(../js/libs/slick/slick-theme.css);

//animation
@import url(../css/animation.css);

// Core
@import "./core/variable";
@import "./core/mixins";
@import "./core/rest";
@import "./core/base";

// Components
@import './components/title';
@import './components/spacing';
@import './components/button';
@import './components/slick';
@import './components/topic-path';

//Font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

@import "./core/code";
/*============================= H_E_A_D_E_R =============================*/
@import "./page/header";
/*============================= F_O_O_T_E_R =============================*/
@import "./page/footer";
/*============================= C_O_N_T_E_N_T =============================*/
@import "./page/home";
/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {
    // }
}

/*======================= WORDPRESS ADMIN LOGED IN ========================*/

// .customize-support #header {
//     margin-top: 32px;
// }

// @media screen and (max-width: 782px) {
//     .customize-support #header {
//         margin-top: 46px !important;
//     }
// }

// @media screen and (max-width: 600px) {
//     .customize-support #header {
//         margin-top: 0px !important;
//     }
// }
