// Core
@import "./core/variable";
@import "./core/mixins";

/*============================= G L O B A L =============================*/
.main-under {
    section,
    .section {
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    #content {
        padding: 0 0 100px;
        margin: 0 auto;
        width: 1080px;
        p,
        table {
            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            margin-bottom: 15px;
        }
    }
}

// ======================== mainvisual ========================
.under-visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    background-color: #000;
    // background-image: url("../images/mainvisual.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        position: relative;
        text-align: center;
        letter-spacing: -1.5px;
        width: 100%;
        color: #fff;
        font-weight: bold;
        font-size: 60px;
        line-height: 1.7;
        text-shadow: 0 0 8px #5e5e5e;
    }
}

// ======================== heading ========================
.main-under {
    .h3,
    .h4,
    .h5,
    .h6 {
        position: relative;
        line-height: 1.4;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .h3 {
        font-size: 42px;
        margin-bottom: 32px;
        text-align: center;
        letter-spacing: 4px;
        line-height: 1.6;
        font-weight: bold;
    }

    .h4 {
        font-size: 32px;
        letter-spacing: 5.5px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .h5 {
        font-size: 28px;
        letter-spacing: 5px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .h6 {
        font-size: 24px;
        letter-spacing: 5px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

// ======================== table ========================
.under-tbl {
    &.tbl-center {
        td,
        th {
            // vertical-align: middle;
            text-align: center;
        }
    }

    &.tbl-fix {
        table-layout: fixed;
    }

    th {
        background-color: #8cdcf0;
        color: #333;
        font-weight: normal;
    }

    td,
    th {
        border-color: #505050;
        vertical-align: top;
        padding: 10px;
    }
}

// ======================== under style ========================
.under-list {
    li {
        position: relative;
        overflow: hidden;
        padding: 0 0 0 16px;
        margin-bottom: 10px;
        text-align: left;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            height: 8px;
            width: 8px;
            border-radius: 8px;
            background: #8cdcf0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.under-frame {
    background-color: rgba($color: #8cdcf0, $alpha: 0.4);
    border-radius: 10px;
    // border: 2px #ffe61e dotted;
    border: 2px #8cdcf0 double;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.1);
    padding: 20px;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 25px 25px 0;
        border-color: transparent #8cdcf0 transparent transparent;
    }

    .frm-tt {
        text-align: center;
        margin-bottom: 40px;
        font-size: 30px;
    }
}

.under-step {
    dl {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .step-tt {
        background-color: #8cdcf0;
        padding: 10px 20px;
    }

    .step-num {
        background-color: #333;
        padding: 5px 15px;
        color: $w-cl;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 10px;
    }

    dd {
        border: 1px solid #8cdcf0;
        border-top: none;
        background-color: rgba($color: #8cdcf0, $alpha: 0.3);
        padding: 15px 20px;
    }
}

.qa-list {
    .qa-item {
        margin-bottom: 30px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.16);
        padding: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    dt {
        min-height: 60px;
        padding-left: 60px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px #000 dashed;
        .qa-kt {
            top: 5px;
        }
    }

    .qa-kt {
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 38px;
        text-align: center;
        // @include flex-mid;
        background-color: orange;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    dd {
        position: relative;
        padding-left: 60px;
        min-height: 40px;
        .qa-kt {
            top: 0;
        }
    }
}

.under-clm {
    display: flex;
    &.col2 {
        dl {
            width: 50%;
        }
    }
    dl {
        width: 100%;
        border: 1px solid #505050;
        &:last-child {
            content: "";
            border-left: 0;
        }
    }

    dt {
        background-color: #8cdcf0;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #505050;
    }

    dd {
        padding: 15px;
    }
}

.under-pickup {
    background-color: #8cdcf0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 0;
    &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 1160px;
        height: 85%;
        background: #4ec0dd;
        z-index: -1;
    }
    .pu-wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        // display: flex;
    }

    .pu-img {
        float: left;
        margin: 50px 60px 0px 0;
    }

    h4 {
        display: inline-block;
        margin-bottom: 24px;
        span {
            display: block;
        }
    }

    .pu-en {
        font-size: 75px;
        letter-spacing: 0.036em;
        color: #896d40;
        margin-bottom: 27px;
        line-height: 1em;
        display: block;
    }

    .pu-jp {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 1.5em;
    }

    .pu-desc {
        p {
            letter-spacing: 0.08em;
            line-height: 2.34;
            font-size: 18px;
        }
    }
}

.under-link {
    text-align: center;
    margin: 0 0 200px;

    .lk-head {
        margin-bottom: 49px;
    }

    .lk-tt {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 23px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .lk-desc {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -1px;
        margin-bottom: 0;
    }
}

.under-anc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
        margin: 0 24px 20px;
    }

    a {
        background: #4ec0dd;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 365px;
        height: 100%;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: -0.5px;
        z-index: 1;
        transition: all 0.3s ease;
        padding: 20px 10px;
        line-height: 1.2;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            left: 4px;
            right: 4px;
            top: 4px;
            bottom: 4px;
            border: 1px solid #fff;
            z-index: -2;
        }

        &::after {
            content: "";
            position: absolute;
            right: 3px;
            bottom: 3px;
            width: 0;
            height: 0;
            z-index: -1;
            border-style: solid;
            border-width: 0 0 26px 26px;
            border-color: transparent transparent #fff transparent;
            transition: all 0.3s ease;
        }

        &:hover {
            background-color: #1b1b1b;
            color: #ffe61e;

            &::after {
                border-color: transparent transparent #ffe61e transparent;
            }
        }
    }
}

// ======================== content ========================
.main-under {
    p,
    li,
    a,
    th,
    td,
    dt,
    dd,
    dl {
        font-size: 18px;
        // letter-spacing: -0.6px;
        // line-height: 2;
        // font-weight: 500;
    }

    a {
        &:hover {
            color: #4ec0dd;
        }
    }

    .sec-wrapper {
        max-width: 1080px;
        margin: 0 auto;
    }

    .sech3 {
        background-color: #fffce8;
        padding: 31px 0 92px;
        margin-bottom: 120px;

        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        min-width: 1400px;

        p {
            font-size: 20px;
            padding: 0 50px 0 58px;
            letter-spacing: -0.5px;
            line-height: 2;
        }
    }

    // .sech4 {
    //     h4 {
    //         width: 50%;
    //         display: inline-block;
    //     }

    //     .image-r {
    //         margin: 0 0 0 120px;
    //         line-height: 0;

    //         img {
    //             width: 100%;
    //             max-width: 100%;
    //             object-fit: cover;
    //         }
    //     }
    // }

    // .sech5 {
    //     h5 {
    //         width: 59%;
    //         display: inline-block;
    //     }

    //     .image-r {
    //         margin: 10px 0 0 85px;
    //         line-height: 0;

    //         img {
    //             width: 100%;
    //             max-width: 100%;
    //             object-fit: cover;
    //         }
    //     }
    // }
}

/*============================= Overnote =============================*/
@import "./page/ovn";

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {}
}
