// Colors
$main-cl: #8cdcf0;
$b-cl: #000;
$w-cl: #fff;

// Font
$fz-cl: #000;
$fz-base: 10px;
$fz-body: 14px;
$lh-body: 1.4;
$font-body: 'Noto Sans JP', sans-serif;
// $font-body: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;

// Base
$max-width:100%;
$container-full-width: 1920px;
$container-width: 1200px;
$padding: 15px;

