// Colors
$main-cl: #0493d2;
$main2-cl: #00b6ce;
$cl-green: #54ba98;
$cl-green2: #7DC057;
$cl-green3: #54BB99;

$b-cl: #000;
$w-cl: #fff;

// Font
$fz-cl: #2d231f;    
$fz-base: 10px;
$fz-body: 15px;
$lh-body: 1.4;
$font-body: 'Noto Sans JP', sans-serif;
$serif: 'Noto Serif JP', serif;
$lora: 'Lora', serif;

// Base
$max-width:100%;
$container-full-width: 1920px;
$container-width: 1000px;
$padding: 15px;

