#footer {
    display: block;
    clear: both;
    text-align: left;
    margin-top: auto;

    .copyright {
        padding: 14px 0;
        text-align: center;
        color: #92d4e1;
        background: #004870;
        font-size: 11px;
        letter-spacing: 0.005em;
    }
}


