#header {
    background: #fff;
    padding: 20px 0;
    height: 100px;
    border-bottom: 1px solid black;
    width: 100%;
    transition: all .3s ease;
    h1{
        padding-bottom: 50px;
    }

    // &.--fix{
    //     position: fixed;
    //     top: 0;
    // }
}

.header-main{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-act{
    display: flex;
    align-items: center;
}

.menu-list {
    position: relative;
    display: flex;
    column-gap: 25px;

    // style chung
    a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .3s ease;
    }
}

.dropdown {
    position: relative;
}

.sub-menu {
    width: 100%;
    background-color: white;

    a , span {
        padding: 15px;
        display: block;
    }
}

