.index {
    img {
        height: auto;
    }
}

.concept {
    position: relative;
    background-color: #f2f9ee;
    padding: 70px 0 109px;

    .concept-wrapper {
        position: relative;
    }

    .concept-title {
        display: inline-block;
        width: 42%;
        width: 460px;
        margin-top: 25px;
        margin-bottom: 14px;
    }

    .cpt-en {
        font-family: $lora;
        color: $cl-green;
        position: relative;
        padding-bottom: 14px;
        margin-bottom: 29px;
        display: block;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 2.1px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 1px;
            background-color: $cl-green;
        }
    }
    .cpt-jp {
        font-family: $serif;
        font-size: 32px;
        line-height: 1.6;
        letter-spacing: 0.5px;
        display: block;
    }

    .concept-img {
        float: left;
        margin-left: calc(((100vw - 1000px) / 2 + 40px) * -1);
        margin-right: 131px;
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            right: -30px;
            width: 400px;
            height: 400px;
            background-color: #bedfab;
            z-index: -1;
            opacity: 0.5;
        }
    }

    .concept-desc {
        line-height: 2.1;
        letter-spacing: 0.23px;
        margin-bottom: 54px;
    }

    .concept-ig {
        position: absolute;
        bottom: 2px;
        right: calc(((100vw - 1000px) / 2 + 67px) * -1);
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            left: -30px;
            width: 200px;
            height: 200px;
            background-color: #bedfab;
            opacity: 0.5;
            z-index: -1;
        }
    }
}

.greetings {
    position: relative;
    padding: 96px 0 100px;
    background: url("../images/bg-logo.png") no-repeat;
    background-position: top 112px right 100px;

    .greetings-title {
        margin-bottom: 62px;
        text-align: center;
    }

    .gts-en {
        color: $main-cl;
        position: relative;
        padding-bottom: 12px;
        margin-bottom: 18px;
        font-family: $lora;
        text-transform: uppercase;
        display: block;
        letter-spacing: 0.6px;
        &::before {
            content: "";
            width: 40px;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $main-cl;
        }
    }

    .gts-jp {
        font-family: $serif;
        font-size: 32px;
        display: block;
    }

    .greeting-main {
        position: relative;
        z-index: 0;
        mix-blend-mode: darken;
        &::after {
            content: "";
            width: 100vw;
            height: 484px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $main-cl;
            z-index: -2;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #fff;
            width: 100vw;
            // height: 326px;
            top: calc(38% + 3px);
            z-index: -1;
        }
    }

    .greetings-tt {
        display: inline-block;
        font-family: $serif;
        text-align: center;
        margin-bottom: 66px;
        color: #fff;
        padding-top: 23px;

        .gts-tt1 {
            font-size: 25px;
            display: inline-block;
            border-bottom: 1px solid #fff;
            margin-bottom: 19px;
            padding-bottom: 4px;
        }

        .fz-bg {
            font-size: 190%;
            font-weight: 300;
            display: inline-block;
            transform: translate(5px, 3px);
            letter-spacing: 1px;
        }

        .gts-tt2 {
            font-size: 18px;
            display: block;
            line-height: 1.6;
            padding-left: 15px;
            letter-spacing: 0.5px;
        }
    }

    .greetings-float {
        float: left;
        width: 425px;
        margin-right: 30px;
        margin-top: -66px;
        padding-left: 40px;
    }

    .gts-img {
        position: relative;
        margin-bottom: 25px;
        img {
            margin-left: auto;
        }
    }

    .gts-info {
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
        padding: 58px 10px;
        font-family: $serif;
        width: 118px;
        height: 330px;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: -1;
    }

    .gts-name {
        font-size: 32px;
        transform: translateX(-3px);
        letter-spacing: 3px;
    }

    .gts-job {
        color: $main-cl;
        font-size: 19px;
        letter-spacing: 2.5px;
    }

    .gts-ft {
        padding-left: 16px;
    }

    .gts-tt {
        color: $main-cl;
        font-size: 16px;
        font-family: $serif;
        position: relative;
        margin-bottom: 14px;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 34px;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $main-cl;
            z-index: -1;
        }

        span {
            background-color: #fff;
            padding-right: 14px;
        }
    }

    .gts-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 19px;

        li {
            width: 49%;
            position: relative;
            padding-left: 12px;
            margin: 4px 0.5% 7px;
            letter-spacing: 0.8px;
            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: -1px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: $main-cl;
            }
        }
    }

    .greeting-desc {
        line-height: 2.1;
        letter-spacing: 0.4px;
        margin-bottom: 44px;
        padding-right: 40px;
        letter-spacing: 0.85px;
    }

    .btn {
        margin: 0 auto;
        transform: translateX(-24px);
    }
}

.treatments {
    padding: 59px 0 49px;
    background: #e6f4fa url("../images/bg-treatments.png") top 98px left 70% no-repeat;
    .ttm-title {
        text-align: center;
        // margin-bottom: 87px;
        margin-bottom: 95px;
    }

    .ttm-en {
        position: relative;
        color: $main-cl;
        padding-bottom: 12px;
        margin-bottom: 16px;
        font-family: $lora;
        text-transform: uppercase;
        display: block;
        letter-spacing: 0.5px;
        &::before {
            content: "";
            width: 40px;
            height: 1px;
            background-color: $main-cl;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .ttm-jp {
        font-size: 32px;
        font-family: $serif;
        display: block;
    }

    .ttm-list {
        margin: -10px -33px;
    }

    .ttm-item {
        position: relative;
        padding: 10px 33px;
    }

    .ttm-head {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        span {
            font-size: 17px;
            font-family: $serif;
        }
    }

    .ttm-tt1 {
        display: block;
    }

    .ttm-ig {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 20px;
    }

    .ttm-img {
        position: relative;
        width: 240px;
        height: 240px;
        transform: translateX(-10px);
        span {
            display: block;
            background-repeat: no-repeat;
            background-position: center right -70px;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            overflow: hidden;
        }

        &::before {
            content: "";
            @include pos-mid;
            width: 260px;
            height: 260px;
            border: 1px solid $main-cl;
            border-radius: 100%;
        }
    }

    .tm-ig2 {
        span {
            background-position: center right -90px;
        }
    }

    .tm-ig3 {
        span {
            background-position: top -52px right -43px;
        }
    }

    .ttm-name {
        display: flex;
        align-items: center;
        padding: 17px 0 0;
        width: 60px;
        height: 200px;
        font-family: $serif;
        font-size: 26px;
        writing-mode: vertical-lr;
        color: #fff;
        position: absolute;
        top: 0%;
        left: 0;
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);
        mix-blend-mode: multiply;
        white-space: nowrap;
        letter-spacing: 2px;

        &::before {
            content: "";
            @include pos-full;
            background-color: $main-cl;
            z-index: -1;
        }
    }

    .ttm-desc {
        line-height: 2.15;
        letter-spacing: 0.3px;
    }
}

.main-menus {
    position: relative;
    padding: 84px 0;

    .menus-wrapper {
        width: 1330px;
        max-width: 100%;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    }

    .menus-wrap {
        display: flex;
        align-items: flex-start;
        padding: 74px 0;
    }

    .menus-title {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        // width: 142px;
        width: 82px;
        margin-right: 60px;
    }

    .menus-en {
        color: $main-cl;
        font-family: $lora;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 7px;
        position: relative;
        display: block;
        text-align: center;
        transform: translate(3px, 0);
        &::before {
            content: "";
            position: absolute;
            top: -7px;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 1px;
            height: 100px;
            background-color: $main-cl;
        }
    }

    .menus-jp {
        writing-mode: vertical-lr;
        display: flex;
        flex-direction: column;
        font-family: $serif;
    }
    .mu-jptt1 {
        font-size: 42px;
        letter-spacing: 3px;
    }

    .mu-jptt2 {
        color: $main-cl;
        font-size: 22px;
        padding-left: 15px;
        letter-spacing: 2px;
    }

    .menus-lst {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // row-gap: 40px;
        // margin: -10px -30px;
        // width: 100%;
        width: calc(100% - 142px);
    }

    .menus-item {
        display: flex;
        &:nth-child(3n + 1) {
            width: 233px;
        }

        &:nth-child(3n + 2) {
            width: 256px;
            transform: translateX(13px);
        }

        &:nth-child(3n + 3) {
            width: 278px;
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(11) {
            .menus-tt {
                font-size: 18px;
                letter-spacing: 1px;
            }
        }

        &:nth-child(5){
            .menus-txt{
                margin-top: -9px;
            }
            .menus-tt{
                margin-bottom: 4px;
            }
        }

        &:nth-child(11){
            .menus-txt{
                margin-top: -5px;
            }
            .menus-tt{
                margin-bottom: 4px;
            }
        }


        &.mn-itm01 {
            .menus-tt {
                color: $main-cl;
                &::before {
                    background-color: $main-cl;
                }
            }

            .menus-lt {
                li {
                    &::before {
                        background-color: $main-cl;
                    }
                }
            }
        }

        &.mn-itm02 {
            margin-top: 51px;
            .menus-tt {
                color: #00b6ce;
                &::before {
                    background-color: #00b6ce;
                }
            }

            .menus-lt {
                li {
                    &::before {
                        background-color: #00b6ce;
                    }
                }
            }
        }

        &.mn-itm03 {
            margin-top: 40px;
            .menus-tt {
                color: #54bb99;
                &::before {
                    background-color: #54bb99;
                }
            }

            .menus-lt {
                li {
                    &::before {
                        background-color: #54bb99;
                    }
                }
            }
        }

        &.mn-itm04 {
            margin-top: 49px ;
            .menus-tt {
                color: #7dc057;
                &::before {
                    background-color: #7dc057;
                }
            }

            .menus-lt {
                li {
                    &::before {
                        background-color: #7dc057;
                    }
                }
            }
        }
    }

    .menus-ig {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 1px solid #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7px;
        flex-shrink: 0;
    }

    .menus-txt {
        padding-left: 10px;
        width: calc(100% - 80px);
    }

    .menus-tt {
        font-size: 26px;
        color: $main-cl;
        position: relative;
        display: block;
        padding-right: 30px;
        margin-bottom: 11px;
        font-family: $serif;
        letter-spacing: 2px;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $main-cl url("../images/svg/ic-rt-w01.svg") center no-repeat;
            background-size: 5px 8px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .menus-lt {
        li {
            display: block;
            position: relative;
            padding-left: 13px;
            margin-bottom: 4px;
            letter-spacing: 0.8px;
            white-space: nowrap;
            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 1px;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 100%;
            }
        }
    }
}
