
.pagination {
    margin-top: 30px;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 10px;
    }

    .disabled {
        display: none;
    }
    .active {
        color: #005d9b;
    }
}

.btn_prev_next {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li{
        width: 30%;
        margin: 10px;

        a{
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            background: #fff;
            color: #005d9b;
            height: 100%;
            text-align: center;
            padding: 22px 40px 20px 40px;
            text-decoration: none;
            border: 2px solid #005d9b;
            transition: all 0.3s ease;
            font-size: 20px;

            &:hover{
                color: #fff;
                background-color: #005d9b;
            }
        }
    }

    .prevPage{
        position: absolute;
        top: 0;
        left: 0;
    }
    .nextPage{
        position: absolute;
        top: 0;
        right: 0;
    }
}

@include max-media(750px){
    .btn_prev_next {
        flex-direction: column;
        align-items: center;
        li {
            width: 100%;
            position: static !important;
            max-width: 270px;

            a {
                padding: 10px 20px;
                font-size: 16px;
            }
        }
    }
}