#header {
    background: #fff;
    padding: 25px 0;
    border-bottom: 1px solid black;
    width: 100%;
    transition: all .3s ease;
    h1{
        padding-bottom: 50px;
    }

    // &.--fix{
    //     position: fixed;
    //     top: 0;
    // }
}

.header-main{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-act{
    display: flex;
    align-items: center;
}

.menu-list {
    position: relative;
    display: flex;
    column-gap: 25px;

    // style chung
    a {
        position: relative;
        padding: 0 0 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .3s ease;
        color: #1a2542;
        // font-size: 14px;
    }

    // active level 1
    .--active {
        a {
            color: #1a2542;
        }

        // active level 2
        .--active {
            >a {
                background-color: #1a2542;
                color: white;
            }
        }
    }
}

.dropdown {
    position: relative;
    .dropdown {
        &:hover {
            >a {
                background-color: #1a2542;
                color: white;
            }
        }
    }
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    // font-size: 12px;
    background-color: white;
    box-shadow: 10px 10px 30px rgba($color: black, $alpha: 0.16);

    .sub-menu {
        top: 0;
        left: 100%;
    }

    a {
        padding: 15px;
    }
}

